@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.mainCard {
    padding: 5%;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #1a1aff, #ccccff);
    box-shadow: 0px 0px 5px 2.5px rgba(26, 26, 255, 0.4);
}

.userType {
    font-family: Patua One;
    color: #fff;
    font-size: 230%;
}

.count {
    font-family: Fredoka One;
    color: #fff;
    font-size: 40px;
}