/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.brandContainer {
  margin-top: 2%;
  padding: 2% !important;
  text-align: center;
  background-color: beige;
  font-family: "Fredoka One";
}

.mainLandingContainer {
  padding: 2% !important;
  text-align: center;
  background-color: beige;
  font-family: "DM Serif Display";
}

.buttonContainer {
  padding: 2% !important;
  width: 40% !important;
  display: flex;
  align-items: flex-start;
}

.routeButtons {
  width: 135px;
  background-image: linear-gradient(to bottom right, #ff0000, #ff9900);
  border: none;
  border-radius: 50px;
  height: 50px;
  font-family: "Patua One";
  box-shadow: 0px 0px 4px 2px rgba(255, 0, 0, 0.4) !important;
  margin-top: 5% !important;
}

.aboutButton {
  width: 37%;
  padding: 1% !important;
  margin-bottom: 3%;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-family: Patua One;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4) !important;
}

.aboutButton:hover {
  background-color: black;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.4) !important;
}

.aboutIcon {
  color: #ff9900;
  border-radius: 50px;
}

.copyrightContainer {
  background-color: beige;
  padding: 2%;
  text-align: center;
  font-family: DM Serif Display;
}

.copyrightText {
  margin-top: 2%;
}

.stackContainer {
  padding: 2%;
  height: auto;
  font-family: Fredoka One;
  background-color: beige;
  box-shadow: inset 0 7px 9px -7px rgba(255,153,0,0.5);
  text-align: center;
}

.stack {
  font-family: Patua One;
  margin-top: 3%;
}

.stackHeader {
  margin-top: 2%;
}

.stackIcons {
  font-size: 340%;
}

/* For About page*/

.pageHeaderContainer {
  background-color: beige;
  padding: 3%;
  font-family: Patua One;
}

.socialsCard {
  padding: 2%;
  border: none;
  border-radius: 50px;
  background-color: beige;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3);
}

.profileLinks {
  margin: 0.6%;
  color: #000;
  font-size: 250%;
}

@media only screen and (max-width: 600px) {
  .socialsCard {
    margin-top: 2%;
  }
}